html, body {
  height: 100%;
}

body {
  /* padding-top: 40px; */
  background-color: #f0f0f0;
}

#main-container {
  background-color: #fff;
  width: 980px;
  padding: 0 0px 0 40px;
}

#content-container {
  padding: 20px 10px;
}


.clear {
  clear: both;
}