html, body {

}

a:link, a:hover, a:visited, a:active {
  color: #444;
  
}

body {
  /* padding-top: 40px; */
  background-color: #fff;
  padding-top: 50px;
}

#main-container {

}

#content-container {
  padding: 20px 10px;
}

#logo-column {
  float: left;
  width: 190px;
  margin-right: 10px;
  text-align: right;
}

#player-column {
  float: left;
  width: 730px;
}

#album-art-main {
  float: left;
  width: 450px;
  height: 450px;
  margin-right: 10px;
}

#playlist-art-container {
  width: 260px;
  height: 70px;
  border: 5px solid #222222;
  overflow: hidden;
  margin-bottom: 1px;
}

#playlist-art-images {
  width: 2000px;
  height: 70px;
}

#playlist-controls-container {
  margin-bottom: 37px;
}

#controls-column {
  float: left;
  width: 270px;
  height: 450px;
}

#current-track-container {
  border-top: 10px solid #111;
  margin-top: 10px;
  padding-top: 10px;
}

#current-track-title {
  float: left;
  width: 440px;
  padding-left: 10px;
  font-size: 48px;
  line-height: 48px;
  color: #004852;
}

#current-track-meta {
  float: right;
  width: 260px;
  text-align: right;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1px;
  color: #666;
}

#current-track-details-container {
  margin-top: 10px;
  padding-top: 20px;
  
}

#current-track-notes {
  float: left;
  width: 420px;
  height: 185px;
  overflow: auto;
  padding: 0 15px;
  line-height: 2em;
  color: #333;
  margin-right: 10px;
  text-align: justify;
}

#current-track-options {
  float: right;
  text-align: right;
  margin-top: 9px;
  width: 200px;
  line-height: 1.3em;
}

#current-track-options div {
  margin-bottom: 10px;
}

#current-track-listed-info {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-right: 10px;
  color: #11636e;
}

#current-track-listed-info li {
  font-weight: bold;
}

.track-row {
  background-color: #f0f0f0;
  padding: 5px 10px;
  margin-bottom: 1px;
  color: #696969;
  text-shadow: 0 1px 0 #fff;
}


.clear {
  clear: both;
}