{% extends "layout.html" %}
{% block body %}
  <h2>Home</h2>
  Welcome to this blog. 
  {% if me %}
    You're logged in as {{ me.data['name'] }} with ID {{ me.data['id'] }}!
  {% endif %}
  <h2>Uploaded Tracks</h2>

  {% for track in tracks %}
    <p id="audioplayer_{{ track.id }}">Alternate content for track.</p>  
    {{ track.s3_url }}
    <div>
      <script type="text/javascript">  
      AudioPlayer.embed("audioplayer_{{ track.id }}", {soundFile: "{{ track.s3_url }}"});  
      </script>
    </div>
    <br /><br />
  {% endfor %}

{% endblock %}
