<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Tempo Arcade!</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" language="Javascript" src="{{ url_for('static', filename='audio-player.js') }}"></script>
  <script type="text/javascript" language="Javascript" src="{{ url_for('static', filename='soundmanager2.js') }}"></script>
  <script type="text/javascript" language="Javascript" src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
  <script type="text/javascript">  
      
      AudioPlayer.setup("{{ url_for('static', filename='player.swf') }}", {  
          width: 290  
      }); 
      
      var tracklist = [];
      {% autoescape false %}
      var trackInfo = {{ tracksjson }};
      {% endautoescape %}
      var currentTrack;
       
      soundManager.url = '/static/'; // directory where SM2 .SWFs live
      soundManager.debugMode = true;
      soundManager.flashPollingInterval = 100;
      
      soundManager.onready(function(){

        // SM2 has loaded - now you can create and play sounds!
        
        {% for track in tracks %}
          var smID = 'track-{{ track.id }}';
          var smSound = soundManager.createSound({
            id: smID,
            url: '{{ track.url }}'
          });
          tracklist.push(smID);
          if (!currentTrack) {
            currentTrack = smSound;
          }
        {% endfor %}
        
        //mySound.play();
        
      });
      
      function getTrackData(trackID) {
        var track;
        for (var i in trackInfo) {
          track = trackInfo[i];
          var smID = 'track-' + track.id;
          if (smID == trackID) {
            return track;
          }
        }
        return undefined;
      }
      
      
      function playSong(trackID) {
        if (currentTrack) {
          currentTrack.stop();
        }
        
        currentTrack = soundManager.getSoundById(trackID);
        if (currentTrack) {
          
          var data = getTrackData(trackID);
          
          currentTrack.options.whileplaying = function () {
            $('#track-control-time-elapsed').text(this.position + 'ms');
            $('#track-progress-bar').css('width', (Math.floor((this.position / this.duration) * 100)) + '%');
          };
          
          $('#current-track-album-art').attr('src', data.artwork_url);
          $('#current-track-title').text(data.title);
          $('#current-track-artist').text(data.artist);
          $('#current-track-year').text(data.year);
          $('#current-track-notes').text(data.notes);
          
          currentTrack.play();
        }
      }
      
      function pauseResume() {
        if (currentTrack) {
          currentTrack.togglePause();
        }
      }
      
      
      function nextSong() {
        var targetTrack = tracklist[0];
        var index = jQuery.inArray(currentTrack.sID, tracklist);
        if (index < tracklist.length - 1) {
          targetTrack = tracklist[index+1];
        }
        playSong(targetTrack);
      }
      
      function prevSong() {
        var targetTrack = tracklist[tracklist];
        var index = jQuery.inArray(currentTrack.sID, tracklist);
        if (index != 0) {
          targetTrack = tracklist[index-1];
        }

        playSong(targetTrack);
      }
              
            
  </script>
  <script type="text/javascript" src="http://use.typekit.com/ybo5pqd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container" id="main-container">
    <div id="logo-column">
      <img src="/img/tempoarcade-logo-190.png" />
    </div>
    <div id="player-column">
      {% for message in get_flashed_messages() %}
        <div class="alert-message">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
    <div class="clear"></div>
    <div class="row" style="margin-top: 50px; border-top: 2px solid #eee; padding-top: 20px;">
      <div class="span12">
        <ul class="nav nav-pills">
          <li>
            <a href="{{ url_for('general.index') }}">Tracks</a></li>
          </li>
          {% if not g.user %}
            <li>
              <a href<a href="{{ url_for('general.login') }}">Log In</a>
            </li>
          {% else %}
            <li>
              <li><a href="{{ url_for('general.upload') }}">Upload New</a></li>
            </li>
            <li>
              <li><a href="{{ url_for('general.manage') }}">Manage</a></li>
            </li>
            <li>
              <a href="{{ url_for('general.logout') }}">Log Out</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
