<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Trackcircle</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" language="Javascript" src="{{ url_for('static', filename='audio-player.js') }}"></script>
  <script type="text/javascript">  
      AudioPlayer.setup("{{ url_for('static', filename='player.swf') }}", {  
          width: 290  
      });  
  </script>
  <script type="text/javascript" src="http://use.typekit.com/ybo5pqd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container" id="main-container">
    <div id="logo-column">
      <img src="/img/tempoarcade-logo-190.png" />
    </div>
    <div id="player-column">
      {% for message in get_flashed_messages() %}
        <div class="alert-message">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
    <div class="clear"></div>
    <div class="row" style="margin-top: 50px; border-top: 2px solid #eee; padding-top: 20px;">
      <div class="span12">
        <ul class="nav nav-pills">
          <li>
            <a href="{{ url_for('general.index') }}">Tracks</a></li>
          </li>
          {% if not g.user %}
            <li>
              <a href<a href="{{ url_for('general.login') }}">Log In</a>
            </li>
          {% else %}
            <li>
              <li><a href="{{ url_for('general.upload') }}">Upload New</a></li>
            </li>
            <li>
              <li><a href="{{ url_for('general.manage') }}">Manage</a></li>
            </li>
            <li>
              <a href="{{ url_for('general.logout') }}">Log Out</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
